-
    var books = [
        {
            img: `${pathContentImg}book-iron-king.jpg`,
            score: 3.8,
            author: 'Кагава Д.',
            title: 'Железный король',
            description: 'Меган удалось победить Железного короля, и теперь она во Дворце',
            link: 'iron-king.html',
            pagesCount: 416,
        },
        {
            img: `${pathContentImg}book-fox-hole.jpg`,
            score: 4.2,
            author: 'Сакавич Н',
            title: 'Лисья нора',
            description: 'Команда Лисов—игроки экси, которые пытаются выиграть чемпионат мира',
            link: '#',
            pagesCount: 336,
        },
        {
            img: `${pathContentImg}book-just-masa.jpg`,
            score: 4.5,
            author: 'Акунин Б.',
            title: 'Просто маса',
            description: 'Масу ожидают невероятные потрясения и невероятные приключения',
            link: '#',
            pagesCount: 448,
        },
        {
            img: `${pathContentImg}book-green-light.jpg`,
            score: 3.9,
            author: 'Макконахи М.',
            title: 'Зеленый свет',
            description: 'Как быть честным. Как избежать стресса. Как радоваться жизни',
            link: '#',
            pagesCount: 320,
        },
        {
            img: `${pathContentImg}book-sun-midnight.jpg`,
            score: 3.5,
            author: 'Майер С.',
            title: 'Солнце полуночи',
            description: 'История любви и приключений от лица Эдварда',
            link: '#',
            pagesCount: 784,
        },
        {
            img: `${pathContentImg}book-institute.jpg`,
            score: 4.4,
            author: 'Кинг С.',
            title: 'Вторая жизнь Уве',
            description: 'Откуда берутся зануды и склочники? Внутри зреет обида на мир',
            link: '#',
            pagesCount: 384,
        },
        {
            img: `${pathContentImg}book-istrebitel-big.jpg`,
            score: 3.9,
            author: 'Быков Д.',
            title: 'Истребитель',
            description: 'Роман о советских летчиках, "соколах Сталина"',
            link: '#',
            pagesCount: 576,
        },
        {
            img: `${pathContentImg}book-lavr.jpg`,
            score: 4.1,
            author: 'Водолазкин Е.',
            title: 'Лавр',
            description: 'Возможно ли любовью и жертвой спасти душу человека?',
            link: '#',
            pagesCount: 448,
        },
    ]